demo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>704</locationX>
        <locationY>242</locationY>
        <actionName>Demo</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Demo</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Log_Error2</name>
        <label>Log Error</label>
        <locationX>440</locationX>
        <locationY>458</locationY>
        <actionName>Demo</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Demo</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_the_Type</name>
        <label>Set the Type</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Get_the_Acme_Account.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Acme_Account</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Acme</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Acme</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Demo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_the_Acme_Account</name>
        <label>Get the &quot;Acme&quot; Account</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_the_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Acme</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Acme_Account</name>
        <label>Update the &quot;Acme&quot; Account</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <faultConnector>
            <targetReference>Log_Error2</targetReference>
        </faultConnector>
        <inputReference>Get_the_Acme_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_Acme_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>