demo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <actionCalls>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>440</locationX>
        <locationY>458</locationY>
        <actionName>Demo</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Demo</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>CheckAccountType</name>
        <label>Check Account Type123!</label>
        <locationX>308</locationX>
        <locationY>251</locationY>
        <defaultConnector>
            <targetReference>DefaultPath</targetReference>
        </defaultConnector>
        <rules>
            <name>IsCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerPath</targetReference>
            </connector>
            <label>Is Customer</label>
        </rules>
    </decisions>
    <description>Example Flow with a Decision Node based on Account Type.</description>
    <environments>Default</environments>
    <interviewLabel>Account Type Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Type Flow</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>$Record</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>$Record__Prior</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>RecordAfterSave</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CheckAccountType</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>CustomerPath</name>
        <label>Customer Path</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <flowName>Subflow_CustomerPath</flowName>
    </subflows>
    <subflows>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>DefaultPath</name>
        <label>Default Path</label>
        <locationX>566</locationX>
        <locationY>398</locationY>
        <flowName>Subflow_DefaultPath</flowName>
        <connector>
            <targetReference>Log_Error</targetReference>
        </connector>
    </subflows>
</Flow>