src/test/goldens/record_create_vs_record_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2026 Google LLC

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
  <apiVersion>64.0</apiVersion>
  <label>Test Distinguish Record Types</label>
  <processType>Flow</processType>
  <start>
    <locationX>0</locationX>
    <locationY>0</locationY>
    <connector>
      <targetReference>create_record</targetReference>
    </connector>
  </start>
  <recordCreates>
    <name>create_record</name>
    <label>Create Record</label>
    <locationX>100</locationX>
    <locationY>100</locationY>
    <connector>
      <targetReference>update_record</targetReference>
    </connector>
    <inputAssignments>
      <field>Name</field>
      <value>
        <stringValue>Test</stringValue>
      </value>
    </inputAssignments>
    <object>Account</object>
  </recordCreates>
  <recordUpdates>
    <name>update_record</name>
    <label>Update Record</label>
    <locationX>200</locationX>
    <locationY>200</locationY>
    <filters>
      <field>Id</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>create_record</elementReference>
      </value>
    </filters>
    <inputAssignments>
      <field>Status__c</field>
      <value>
        <stringValue>Active</stringValue>
      </value>
    </inputAssignments>
    <object>Account</object>
  </recordUpdates>
</Flow>
